/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# OurFeatures
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.OurFeatures {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.OurFeatures .container > p {
  position: relative;
  font-weight: bold;
  color: var(--gray-color);
  letter-spacing: 1px;
  padding: 10px 0;
}
.OurFeatures .container h1 {
  position: relative;
  margin: 0 0 50px 0;
  color: var(--red-color);
  text-shadow: var(--main-text-shadow-red);
}
.OurFeatures .container .OurFeatures-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
}
.OurFeatures .container .OurFeatures-container .box {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: var(--main-box-shadow);
  transition: var(--main-transition);
}
.OurFeatures .container .OurFeatures-container .box i {
  color: var(--red-color);
  font-size: 45px;
}
.OurFeatures .container .OurFeatures-container .box h5 {
  font-weight: bold;
  font-size: 22px;
  color: var(--main-color);
}
.OurFeatures .container .OurFeatures-container .box p {
  position: relative;
  line-height: 1.7;
  color: var(--gray-color);
}

.OurFeatures .container .OurFeatures-container .box.active {
  background-color: var(--red-color);
  box-shadow: var(--main-box-shadow-red);
}
.OurFeatures .container .OurFeatures-container .box.active i {
  color: var(--white-color);
}
.OurFeatures .container .OurFeatures-container .box.active h5 {
  color: var(--white-color);
}
.OurFeatures .container .OurFeatures-container .box.active p {
  color: var(--white-color);
}
